<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layout}">
<head>
	<!-- 개별페이지 CSS 영역 -->
	<th:block layout:fragment="style">
		<link rel="stylesheet" th:href="@{/css/item_main.css}" />
		<style>
			#imgPreviewArea {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				width: 100%;
			}
			
			.div-img-preview {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		
			.img-preview {
				width: 100px;
				height: 100px;
				display: block;
			}
		</style>
	</th:block>
</head>	
<body>
	<section layout:fragment="content">
		<h3>회원 가입</h3>
		<div id="registForm">
			<form th:action="@{/members/regist}" th:object="${memberDTO}" method="post">
				<table border="1">
					<tr>
						<th>이름</th>
						<td>
							<input type="text" th:field="*{name}" required>
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error_msg"></div>
						</td>
					</tr>
					<tr>
						<th>E-Mail</th>
						<td>
							<input type="text" th:field="*{email}" required>
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error_msg"></div>
						</td>
					</tr>
					<tr>
						<th>비밀번호</th>
						<td>
							<input type="password" th:field="*{passwd}" required>
							<div th:if="${#fields.hasErrors('passwd')}" th:errors="*{passwd}" class="error_msg"></div>
						</td>
					</tr>
					<tr>
						<th>주소</th>
						<td>
							<input type="text" th:field="*{address}" required>
							<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error_msg"></div>
						</td>
					</tr>
					<tr>
<!-- 						<td colspan="2"><input type="submit" value="등록"></td> -->
						<td colspan="2"><input type="button" id="btnSubmit" value="등록"></td>
					</tr>
				</table>
				<!-- POST 방식 form 태그에서 입력값 전송 시 CSRF 공격 방지를 위한 값을 함께 포함하여 전송해야함(서버로부터 자동으로 전달됨) -->
				<!-- 구버전의 스프링시큐리티 사용 시 수동으로 값 포함하여 전송해야하지만 현재 버전은 자동으로 전송됨 -->
<!-- 				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
			</form>
		</div>
	</section>
	
	<!-- 개별 페이지의 자바스크립트 영역 -->
	<th:block layout:fragment="script">
		<script>
			$(function() {
				// 첨부파일을 하나도 선택하지 않고 요청 시 서버로부터 전달받은 오류메세지 출력하기
// 				const msg = "${errorMessage}";
				// => 주의! 타임리프와 자바스크립트를 함께 사용하는 페이지에서 ${} 활용하여 서버로부터 전달받은 속성에 접근 시
				//    정상적인 파싱이 수행되지 않고 ${} 기호가 단순 문자열로 취급되어 출력됨
				// => 타임리프 객체 접근 문법 앞 뒤로 [[ 기호와 ]] 기호를 사용하여 감싸면 정상적인 파싱 가능
				const msg = "[[${errorMessage}]]";
				if(msg && msg.trim() != "") {
					alert(msg);
				}
				// =============================================
				$("#btnSubmit").on("click", function() {
					let form = $("form")[0];
					let formData = new FormData(form);
					
					// CSRF 토큰 가져오기
					// <meta name="_csrf" th:content="${_csrf.token}">					
					let csrfToken = $("meta[name='_csrf_token']").attr("content");
					let csrfHeader = $("meta[name='_csrf_header']").attr("content");
					console.log("csrfToken : " + csrfToken);
					console.log("csrfHeader : " + csrfHeader);
					
					// AJAX POST(또는 PUT, DELETE, PATCH 등) 요청 시 CSRF 토큰 전송하기
					$.ajax({
						url: "/member/join",
						type: "POST", 
						data: formData,
						dataType: "json",
						processData: false, // 폼 데이터를 그대로 전송
// 						contentType: false  // enctype="multipart/form-data" 형식일 경우 해당 타입으로 자동 설정
// 						headers: {
// 							csrfHeader: csrfToken
// 						},
						beforeSend: function(xhr) { // AJAX 실제 요청 전 먼저 요청할 정보(주로 헤더정보)
							xhr.setRequestHeader(csrfHeader, csrfToken)
						},
						success: function(response) {
							alert("등록 완료!");
							location.href = "/member/joinSuccess";
						},
						error: function(xhr, status, error) {
							alert("등록 실패!");
						}
					});
				});
			});
		</script>
	</th:block>
</body>
</html>















