<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>상품 레이아웃</title>
	
	<!-- 공통 CSS 영역 -->
	<!-- 정적 리소스(css, js 파일 등) 지정 시 루트(/) 기본 경로는 static -->
	<link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
	<!--  공통 헤더 -->
<!-- 	<header> -->
<!-- 		<th:block th:replace=""> -->
<!-- 	</header> -->
	<header th:include="~{fragments/item_header}"></header>
	<hr>

	<!-- 개별 페이지 내용 -->
	<main>
		<th:block layout:fragment="content"></th:block>
	</main>	
	
	<hr>
	<!--  공통 푸터 -->
	<footer th:include="~{fragments/item_footer}"></footer>
	
	<!-- 공통 자바스크립트 영역 -->
	<script th:src="@{/js/common.js}"></script>
	
	<!-- 개별 페이지 자바스크립트 영역 -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>

















