<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>thymeleaf_test5.html</h1>
	<h3>타임리프 하이퍼링크</h3>
	<!-- 타임리프에서 하이퍼링크 표현은 <a th:href="@{이동할URL}"> 형태로 사용 -->
	<div>
		<!-- 상대주소(Context-relative URL) 지정 - 서버 내부간의 이동 -->
		<!-- 상대주소 지정 시 맨 앞의 / 기호는 루트를 의미하며, 서버상의 루트(ex. localhost:8080)를 요청함 -->
<!-- 		<a th:href="@{/test1}">첫번째 타임리프 예제</a><br> 타임리프용 하이퍼링크와 -->
<!-- 		<a href="/test1">첫번째 타임리프 예제</a>           일반 하이퍼링크의 차이가 없는 요청 주소 -->
		<!-- 단, 매핑되는 주소가 없으므로 404 에러 발생함 -->
		
		<a th:href="@{/thymeleaf/test1}">첫번째 타임리프 예제</a><br> <!-- 타임리프용 하이퍼링크와 -->
		<a href="/thymeleaf/test1">첫번째 타임리프 예제</a>           <!-- 일반 하이퍼링크의 차이가 없는 요청 주소 -->
	</div>
	<div>
		<!-- 절대주소(Absolute URL) -->
		<a th:href="@{http://www.itwillbs.co.kr}">아이티윌 부산 홈페이지</a>
	</div>
	<!-- 위의 하이퍼링크들은 일반 하이퍼링크도로 동일하게 동작함(즉, 타임리프식 하이퍼링크가 불필요) -->
	<!-- 하이퍼링크 사용 시 동적 경로를 생성하거나, 특정 파라미터를 객체로부터 결합해야할 경우 필요 -->
	<div>
		전달받은 data 속성값 : <th:block th:text="${data}"></th:block><br>
		<!-- 하이퍼링크 파라미터 전달 기본 문법 : th:href="@{URL(파라미터명1 = '데이터1', ...생략..., 파라미터명n = '데이터n')}" -->
		<a th:href="@{/thymeleaf/test5-2(param1 = '데이터1', param2 = 222, param3 = ${data})}">타임리프 파라미터 전달</a>
	</div>
</body>
</html>





















